<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Terms</key>
	<dict>
		<key>evenly divisible</key>
		<dict>
			<key>Definition</key>
			<string>Evenly divisible would mean that the number is divisible by any number completely. To answer your question, the correct answer is 20! (20 factorial)</string>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Beginer%20Problems/5%20-%20Smallest%20multiple</string>
				<key>Title</key>
				<string>Smallest multiple</string>
			</dict>
		</dict>
		<key>unary minus</key>
		<dict>
			<key>Definition</key>
			<string>Here, in -5, the minus sign is unary operator and it requires one operand which is 5 here. The minus sign between 5 and 6 is binary operator which requires two operands(-5 and 6 here). The minus sign in -11 is also unary operator.</string>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Hard%20Problems/259%20-%20Reachable%20Numbers</string>
				<key>Title</key>
				<string>Reachable Numbers</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
