<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<string>1.0</string>
	<key>DeploymentTarget</key>
	<string>ios10.0</string>
	<key>Name</key>
	<string>Beginner Problems</string>
	<key>Pages</key>
	<array>
		<string>1.playgroundpage</string>
		<string>2.playgroundpage</string>
		<string>3.playgroundpage</string>
		<string>4.playgroundpage</string>
		<string>5.playgroundpage</string>
		<string>6.playgroundpage</string>
		<string>7.playgroundpage</string>
		<string>8.playgroundpage</string>
		<string>9.playgroundpage</string>
		<string>10.playgroundpage</string>
	</array>
</dict>
</plist>
