<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<string>1.0</string>
	<key>DeploymentTarget</key>
	<string>ios10.0</string>
	<key>Name</key>
	<string>Beginner Problems</string>
	<key>Pages</key>
	<array>
		<string>1.playgroundpage</string>
		<string>2.playgroundpage</string>
		<string>3.playgroundpage</string>
		<string>4.playgroundpage</string>
		<string>5.playgroundpage</string>
		<string>6.playgroundpage</string>
		<string>7.playgroundpage</string>
		<string>8.playgroundpage</string>
		<string>9.playgroundpage</string>
		<string>10.playgroundpage</string>
		<string>11.playgroundpage</string>
		<string>12.playgroundpage</string>
		<string>13.playgroundpage</string>
		<string>14.playgroundpage</string>
		<string>15.playgroundpage</string>
		<string>16.playgroundpage</string>
		<string>17.playgroundpage</string>
		<string>18.playgroundpage</string>
		<string>19.playgroundpage</string>
		<string>20.playgroundpage</string>
		<string>21.playgroundpage</string>
		<string>22.playgroundpage</string>
		<string>23.playgroundpage</string>
		<string>24.playgroundpage</string>
		<string>25.playgroundpage</string>
		<string>26.playgroundpage</string>
		<string>27.playgroundpage</string>
		<string>28.playgroundpage</string>
		<string>29.playgroundpage</string>
		<string>30.playgroundpage</string>
		<string>31.playgroundpage</string>
		<string>32.playgroundpage</string>
		<string>33.playgroundpage</string>
		<string>34.playgroundpage</string>
		<string>35.playgroundpage</string>
		<string>36.playgroundpage</string>
		<string>37.playgroundpage</string>
		<string>38.playgroundpage</string>
		<string>39.playgroundpage</string>
		<string>40.playgroundpage</string>
	</array>
</dict>
</plist>
